.header {
  padding-top: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div > h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #0c0e16;
}
