.header {
  padding-top: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div > h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -1px;
  color: #0c0e16;
  margin-bottom: 8px;
}

.header > div > p {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.ctaBox {
  display: flex;
  align-items: center;
}

.body {
  margin-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;

  row-gap: 16px;
}

.emptyBox {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 280px);
  justify-content: center;
  align-items: center;
  max-width: 242px;
  margin: auto;
  text-align: center;
}

.emptyBox > h2 {
  margin-top: 64px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 22px;
  letter-spacing: -0.625px;
  color: #0c0e16;
}

.emptyBox > p {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.emptyBox > p > span {
  font-weight: 700;
}

@media (max-width: 964px) {
  .header {
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .header {
    padding-top: 40px;
  }

  .header > div > h1 {
    font-size: 1.25rem;
    margin-bottom: 4px;
  }

  .body {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;

    row-gap: 16px;
  }
}
