.DialogOverlay {
  background-color: hsla(0, 0%, 0%, 0.439);
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  position: fixed;
}

.DialogContent {
  background-color: white;

  border-radius: 0px 20px 20px 0px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  width: 100%;
  max-width: 616px;
  max-height: 100vh;
  padding: 56px;

  padding-bottom: 0;

  overflow-y: scroll;
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
  margin-bottom: 48px;
}

.DialogTitle > span {
  color: #888eb0;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.Label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-bottom: 10px;
  display: block;
}

.Input {
  width: 100%;
  /* max-width: 504px; */
  padding: 0 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;

  border: 1px solid #dfe3fa;
  border-radius: 4px;
  height: 48px;

  margin-bottom: 24px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 
@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
} */

.section {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
  margin-bottom: 24px;
}

.inlineFlex {
  display: flex;
  justify-content: space-between;
}

.smallInput {
  width: 152px;
}

.mdInput {
  width: 240px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  height: 110px;
  background-color: white;
  margin-left: -56px;
  margin-right: -56px;
  padding: 0 56px;
  column-gap: 8px;
}

.sectionLg {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
}
