.box {
  position: fixed;
  left: 0;
  background-color: #373b53;
  width: 103px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

.topBox {
  width: 103px;
  height: 103px;
  background-color: #7c5dfa;
  border-radius: 0px 20px 20px 0px;
  left: 0;
  position: absolute;
}

.topBoxBottom {
  width: 103px;
  height: 51.5px;
  background-color: #9277ff;
  border-radius: 20px 0px 20px 0px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.logo {
  position: absolute;
  top: 31px;
  width: 40px;
  height: 37.71px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.bottomBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomBox > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.toggle {
  border-bottom: 1px solid #494e6e;
}

.toggleIcon:hover {
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: all 300ms ease;
}

.avatar:hover {
  cursor: pointer;
  width: 44px;
  height: 44px;
}

@media (max-width: 800px) {
  .box {
    top: 0;
    left: auto;
    height: 80px;
    width: 100%;
    border-radius: 0;
  }

  .topBox {
    width: 80px;
    height: 80px;
    background-color: #7c5dfa;
  }

  .topBoxBottom {
    width: 80px;
    height: 40px;
  }

  .logo {
    top: 26px;
    width: 31px;
    height: 29px;
  }

  .bottomBox {
    right: 0;
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }

  .bottomBox > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
  }

  .toggle {
    border-right: 1px solid #494e6e;
  }
}
