.tag {
  width: 104px;
  height: 40px;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
}

.tagDraft {
  background: var(--status-draft-bg);
  color: var(--status-draft-color);
}

.tagPending {
  background: var(--status-pending-bg);
  color: var(--status-pending-color);
}

.tagPaid {
  background: var(--status-paid-bg);
  color: var(--status-paid-color);
}
