/* reset */
button {
  all: unset;
}

.AlertDialogOverlay {
  background-color: hsla(0, 0%, 0%, 0.439);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 480px;
  max-height: 85vh;
  padding: 48px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  border-radius: 8px;
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
  margin-bottom: 13px;
}

.AlertDialogDescription {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
