.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-left: 32px;
  padding-right: 24px;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.box:hover {
  border: 1px solid #7c5dfa;
  cursor: pointer;
}

.leftBox {
  display: flex;
  align-items: center;
  column-gap: 41px;
}

.rightBox {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.id {
  color: #0c0e16;
  min-width: 60px;
}

.id > span {
  color: #7e88c3;
}

.due,
.client {
  color: #888eb0;
  font-weight: 500;
  min-width: 110px;
}

.price {
  font-size: 1rem;
  letter-spacing: -0.8px;
  color: #0c0e16;
}

.flexer {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media (max-width: 964px) {
  .box {
    padding-left: 24px;
  }

  .leftBox {
    column-gap: 30px;
  }

  .rightBox {
    column-gap: 30px;
  }
}

@media (max-width: 690px) {
  .box {
    padding-left: 20px;
    padding-right: 20px;

    height: 60px;
  }

  .leftBox {
    column-gap: 20px;
  }

  .rightBox {
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  .box {
    padding: 24px;
    height: 124px;
  }

  .leftBox,
  .rightBox {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 0;
    height: 100%;
  }

  .rightBox {
    align-items: flex-end;
  }

  .id {
    min-width: auto;
    font-size: 0.75rem;
  }

  .due,
  .client {
    font-size: 0.75rem;
    min-width: auto;
  }

  .due {
    margin-bottom: 8px;
  }
}
